<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>login</title>
</head>

<body>
    <header>
        <p class="text">아무 말 대잔치</p>
    </header>
    <section class="wrap">

        <article class="loginText">
            <p>로그인</p>
        </article>

        <article class="infoBox">
            <div class="email">
                <p>이메일</p>
            </div>
            <div class="inputDiv">
                <form class="inputForm">
                    <input class="inputBox" id="userId" type="text" placeholder="이메일을 입력하세요.">
                </form>
            </div>
            <label class="help" id="help1">* 이메일을 입력해주세요.</label>
            <div class="pass">
                <p>비밀번호</p>
            </div>
            <div class="inputDiv">
                <form class="inputForm">
                    <input class="inputBox" id="userPass" type="password" placeholder="비밀번호를 입력하세요">
                </form>
            </div>
            <label class="help" id="help2">* 비밀번호를 입력해주세요.</label>
        </article>

        <article class="loginButton">
            <form>
                <button id="signIn">로그인</button>
            </form>
        </article>

        <article class="register">
            <a href="/userRegister.html">회원가입</a>
        </article>

    </section>
    <footer></footer>
    <script src="./login.js"></script>
</body>

</html>